<h1>Watchlist</h1>
<%= link_to 'Add coins', new_watchlist_coin_bookmark_path(@watchlist), class: 'btn btn-secondary' %>
<% @watchlist.coin_bookmarks.each do |coin| %>
  <p><%= coin.coin_ticker %> - <%= link_to 'ðŸ—‘ï¸', watchlist_coin_bookmark_path(@watchlist, coin), method: :delete %></p>
<% end %>
