<h1>Watchlist</h1>
<%= link_to 'Add coins', new_watchlist_coin_bookmark_path(@watchlist), class: 'btn btn-secondary' %>

<table>
  <% @tickers.each do |ticker| %>
    <li><%= ticker %> - <%= @cryptowatch.get_current_price("binance-us", ticker).price %> <%= link_to 'ðŸ—‘ï¸', watchlist_coin_bookmark_path(@watchlist, ticker), method: :delete %></li>
<% end %>
</table>
