<footer class="footer">
  <div class="container">
    <div class="links">
      <a href="#"><i class="fab fa-github-square"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <p>This website was coded with Ruby <i class="fas fa-gem"></i> tecnology.</p>
    <p>© 2021 EASYFOLIO All rights reserved.</p>
  </div>
</footer>
