<div class="navbar-home navbar-light ">
  <%= link_to "#", class: "navbar-brand" do %>
    <span href="#"><i class="fas fa-home"></i></span>
  <% end %>

  <button class="navbar-toggler" type="button">
    <%= link_to "Login", new_user_session_path, class: "btn btn-home mr-auto" %>
    <%= link_to "Sing up", new_user_registration_path, class: "btn btn-home mr-auto" %>
  </button>
</div>
