<%= render 'shared/navbar' %>

<div class="banner">
  <div class="container">
    <h1><strong>Crypto Portfolio Management </strong></h1>
    <p>Set a strategy and keep good track of your crypto investments.</p>
    <%= link_to 'Start Now', new_user_registration_path, class: "btn btn-flat btn-primary" %>
  </div>
</div>


<div class="container">
  <div class="text-center">
    <p>Set a strategy and keep good track of your crypto investments with a friendly
    and intuitive interface, with all the information you need in only one place.
    </p>
  </div>
</div>

<!-- Footer -->

<%= render 'shared/footer' %>
