.help-form {
  a {
  text-decoration: none;
  color: black;
  padding: 5px 50px;
  margin-inline-end: auto;
  }
}
.btn-form {
  width: 100%;
  text-decoration: none;
  color: black;
  border: solid;
  border-color: rgba(8, 8, 94, 0.2);
  border-radius: 4px;
  padding: 5px 50px;
  margin-bottom: 20px;
}
