.footer {
  background-color: $gray;
  text-align: center;
  padding: 30px;
  a {
    font-size: 30px;
    color: $blue;
    margin: 0 8px;
  }
  p {
    color: $light-gray;
    opacity: 0.3;
    margin-top: 12px;
  }
  .fas {
    color: rgb(245, 24, 24);
  }
}
