.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
}
.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  .navbar-link {
    color: white;
    font-weight: bold;
  }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: beige;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-home {
  color: white;
  font-weight: bold;
}
.btn-home:hover {
  color: rgb(75, 150, 236);
}
